.optionsBar {
  display: flex;
  justify-content: space-between;
}

.active {
  color: #77787a;
}

.inactive {
  color: black;
}

.sortSelectorContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
