.root {
  border: 0.0625rem solid transparent;
  color: blue;
  display: flex;
  align-items: center;
  padding: 0;
  background-color: transparent;
}

.label {
  flex-grow: 1;
}

.icon {
  flex-grow: 0;
}

.dropDown {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
  border: 0.0625rem solid black;
  border-radius: 0.25rem;
  background-color: white;

  button {
    border: 0.0625rem solid transparent;
    background-color: transparent;

    &:hover {
      border-radius: 0;
      background-color: aqua;
      border-left-color: transparent;
      border-right-color: transparent;

      &:first-of-type {
        border-top-left-radius: 0.125rem;
        border-top-right-radius: 0.125rem;
        border-top-color: transparent;
      }

      &:last-of-type {
        border-bottom-left-radius: 0.125rem;
        border-bottom-right-radius: 0.125rem;
        border-bottom-color: transparent;
      }

      &:not(:first-of-type) {
        border-top: 0.0625rem solid blue;
      }
      &:not(:last-of-type) {
        border-bottom: 0.0625rem solid blue;
      }
    }
  }
}
